
#logo {
	font-weight : "bold";
	color : "fff";
	letter-spacing : -1px;
	text-transformat : uppercase;
	font-size : 1.7em;
	float : left;
}

.center {
	text-align : center;
}

.mainpage {
	background-image : asset-url('mainpageimg.jpeg');
	background-size : cover;
}
.center-align {
	margin: auto 50%;
}
.center-v {
	margin : auto;
	background-color : #e3e3e3;
	padding : 50px;
	border-radius : 10px;
}

.link a {
	color : #000;
	text-decoration : none;
}

.img-align {
	margin-top : 50%;
	border-radius : 50px;
}

#recipe-list-block {
	margin : auto;
}