
#logo {
	font-weight : "bold";
	color : "fff";
	letter-spacing : -1px;
	text-transformat : uppercase;
	font-size : 1.7em;
	float : left;
}

.center {
	text-align : center;
}

.mainpage {
	background-image : asset-url('mainpageimg.jpeg');
	background-size : cover;
}