<%= render 'layouts/title', title: @ingridiant.name.capitalize %>
<h4 class="center">Recipes including <%= @ingridiant.name.capitalize %></h4>
<%= render 'layouts/recipes' , obj: @ingridiant.recipes %> 