<div class="d-flex justify-content-center mt-5">
	<% flash.each do |name,msg| %>
		<div class="alert alert-<%= name %> col-md-10" role="alert">
			<%= msg %>
			<a href="#" class="close" data-dismiss="alert">&#215;</a>
		</div>
	<% end %>
</div>